
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');

body {
  background-color: moccasin;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #222;
}